<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.emp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>EmpTT</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DbUtil</display-name>
    <servlet-name>DbUtil</servlet-name>
    <servlet-class>com.emp.util.DbUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbUtil</servlet-name>
    <url-pattern>/DbUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDAO</display-name>
    <servlet-name>UserDAO</servlet-name>
    <servlet-class>com.emp.dao.UserDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDAO</servlet-name>
    <url-pattern>/UserDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>com.emp.model.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.emp.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task</display-name>
    <servlet-name>Task</servlet-name>
    <servlet-class>com.emp.model.Task</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task</servlet-name>
    <url-pattern>/Task</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDAO</display-name>
    <servlet-name>TaskDAO</servlet-name>
    <servlet-class>com.emp.dao.TaskDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDAO</servlet-name>
    <url-pattern>/TaskDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskManagerServlet</display-name>
    <servlet-name>TaskManagerServlet</servlet-name>
    <servlet-class>com.emp.servlet.TaskManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskManagerServlet</servlet-name>
    <url-pattern>/TaskManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDashboardServlet</display-name>
    <servlet-name>TaskDashboardServlet</servlet-name>
    <servlet-class>com.emp.servlet.TaskDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDashboardServlet</servlet-name>
    <url-pattern>/TaskDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkHoursServlet</display-name>
    <servlet-name>WorkHoursServlet</servlet-name>
    <servlet-class>com.emp.servlet.WorkHoursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkHoursServlet</servlet-name>
    <url-pattern>/WorkHoursServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalyzeTaskServlet</display-name>
    <servlet-name>AnalyzeTaskServlet</servlet-name>
    <servlet-class>com.emp.servlet.AnalyzeTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeTaskServlet</servlet-name>
    <url-pattern>/AnalyzeTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.emp.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PieChartServlet</display-name>
    <servlet-name>PieChartServlet</servlet-name>
    <servlet-class>com.emp.servlet.PieChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PieChartServlet</servlet-name>
    <url-pattern>/PieChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDAO</display-name>
    <servlet-name>ProjectDAO</servlet-name>
    <servlet-class>com.emp.dao.ProjectDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDAO</servlet-name>
    <url-pattern>/ProjectDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Project</display-name>
    <servlet-name>Project</servlet-name>
    <servlet-class>com.emp.model.Project</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project</servlet-name>
    <url-pattern>/Project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTaskServlet</display-name>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>com.emp.servlet.EditTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/EditTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BarChartServlet</display-name>
    <servlet-name>BarChartServlet</servlet-name>
    <servlet-class>com.emp.servlet.BarChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarChartServlet</servlet-name>
    <url-pattern>/BarChartServlet</url-pattern>
  </servlet-mapping>
</web-app>